<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
   <div class="container">
    <div class="data-panel">  

    <form novalidate method="POST" id="form" action="/password-generator">
    <table class="table table-borderless align-middle">
      <thead>
        <h3> Password Generator </h3>
      </thead>
      <hr>
      <tbody>
        
        <tr class="mb-3">
          <td class="td-title" id="td-title-1">
            <label for="td-input-1" class="form-label">* Password Length</label>
          </td>
          <td >
            <input type="number"  id="td-input-1" class="form-control" aria-describedby="passwordHelpBlock" name="extent"  placeholder="length is available between 4~16" min="4" max="16" value="{{data.extent}}" required >
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Length must falls within the range of 4~16</div>
          </td>
        </tr>
        <tr>
          <td class="td-title" id="td-title-2">Include LowerCase Characters</td>
          <td class="w-75" >
            <div class="form-check">
            <input class="form-check-input" type="checkbox" name="lowerCase" id="check1" {{#if data.lowerCase}}checked{{/if}}>
            <label class="form-check-label" for="check1">
              (abcd...)
            </label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-title" >Include UpperCase Characters</td>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="upperCase" id="check2" {{#if data.upperCase}}checked{{/if}}>
              <label class="form-check-label" for="check2">
                (ABCD...)
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-title" >Include Numbers</td>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="number" id="check3" {{#if data.number}}checked{{/if}}>
              <label class="form-check-label" for="check3">
                (1234...)
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-title" >Include Symbols</td>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="symbol" id="check4" {{#if data.symbol}}checked{{/if}}>
              <label class="form-check-label" for="check4">
                (+=-#...)
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-title" id="td-title-6">
            <label for="td-input-2" class="form-label">Exclude Characters</label>
          </td>
          <td>
            
            <input type="text" id="td-input-2" class="form-control" aria-describedby="passwordHelpBlock" name="exclude" placeholder="These characters will not appear in the password" value="{{data.exclude}}">
            
          </td>
        </tr>
      </tbody>

    </table>
      <div id="non-choose"></div>
    {{{body}}}
      <div>
        <button id="submit-btn" type="submit" class="btn btn-lg btn-outline-success">Generate</button>
        <a class="btn btn-lg btn-outline-primary" href="/">Reset</a> 
      </div>
    </form>
    </div >
    <div>
     
    </div>
    
    
    <div class="card-footer text-muted text-end">
      password generator
    </div>
  </div>
  
  <script>
    let copyPass = "{{password}}"
    const form=document.querySelector('#form')
    const submitBtn=document.querySelector('#submit-btn')
    const checkboxes = Array.from(document.querySelectorAll('input[type="checkbox"]'))
    const inputLength=document.querySelector('#td-input-1')
    submitBtn.addEventListener('click' ,function onSubmitBtnClicked(event){
      form.classList.add('was-validated')
      selectCheckBox()
    })

    form.addEventListener('submit' ,function onFormSubmit(event){
        if (!form.checkValidity() ) {
        console.log("資料未填寫")
        console.log(checkboxes)
        event.stopPropagation()
        event.preventDefault()
      }
        if (!isChecked){
          const empty=document.querySelector('#non-choose')
          empty.innerText="Choose at least one password string type ! "
          event.stopPropagation()
          event.preventDefault()
        }
    })
    function selectCheckBox(){
      isChecked=checkboxes.some((checkbox)=>{ //雖然有報錯 但執行其實沒問題
        return checkbox.checked //每個check box 在勾選時會有一個checked的屬性被設置true
      })
    }
    
  </script>

 
  <script src="/javascript/bootstrap.bundle.js"></script>
  <script src="/javascript/index.js"></script>
</body>

</html>