body{
  width: 85%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.815);
}
.container{
  margin-top: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  
  width: 100%;

}
.data-panel{
  padding: 2em;
  background-color: rgb(255, 255, 255);
  width: 100%;
}




.td-title{
  line-height:3em;
  font-weight: 700;
}
#td-title-1 ,#td-title-6 {
  line-height: 5em;
  
}

.form-check-label{
  font-weight: 700;
}

.card-footer.text-muted.text-end{
  min-height: 5em;
}

#submit-btn{
  margin-right: 2em;
}

#non-choose{
  margin: 1em 1em;
  font-size:20px;
  color: #dc3545;
}
#password{
  min-height: 3em ;
  font-size: 20px;
  font-weight: 700;
  background-color: #560f7dbd;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  justify-content: center;
  color: azure;
}

.popover-body {
  background-color: #f1c3f7bd;
  padding: 0.5rem 0.5rem;
  color: rgb(123, 7, 255);
  font-weight: bolder;
}